{% extends 'base.html' %} {% load static %} {% block content %}
    <div>
      {% comment %} Profile Team {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAboutStory.svg" %}')" class="hidden md:block h-[609px]">
            <div class="px-20 py-48">
                <h1 class="text-7xl font-bold mb-7">Profil Tim KeDA Tech</h1>
                <p class="text-2xl pl-12 ">Sebagai salah satu Perusahaan Pengembang Teknologi Informasi yang berbasis di Jakarta, <br/>KeDA Tech berkomitmen untuk memenuhi semua kebutuhan sistem informasi dan solusi IT Anda. </p>
            </div>
        </div>
        <div class="md:hidden bg-white">
            <div class="py-20 px-5">
                <h1 class="text-3xl font-bold mb-7">Profil Tim KeDA Tech</h1>
                <p class="text-md ">Sebagai salah satu Perusahaan Pengembang Teknologi Informasi yang berbasis di Jakarta, <br/><br/>KeDA Tech berkomitmen untuk memenuhi semua kebutuhan sistem informasi dan solusi IT Anda. </p>
            </div>
        </div>
     {% comment %} Join Our Team {% endcomment %}
        <div class=" md:bg-[#f8f8f8] md:h-[720px] pb-12 bg-white">
          <div class="md:grid md:grid-cols-12">
            <div class="col-span-5 md:hidden px-12 py-10">
              <img src="{% static "image/public/WithMe.svg" %}" alt="logo" class=" w-[430px]"/>
            </div>
            <div class="col-span-7 container md:pl-24 md:pt-60 px-7 md:px-0">
              <h1 class="mb-3 leading-snug md:text-5xl text-2xl font-bold">Tertarik untuk bergabung dengan kami?</h1>
              <p class="mb-10">Kami selalu terbuka dengan talenta baru</p>
              <button onclick="window.location.href = '{% url "aboutCareer" %}';"  class="px-6 py-2 border bg-[#d20008] text-white rounded-sm hover:bg-[#b3020f] hover:border-[#d20008] font-medium transition duration-300">Temukan posisi yang cocok</button>
            </div>
            <div class="col-span-5 mt-40 hidden md:block">
              <img src="{% static "image/public/WithMe.svg" %}" alt="logo" class=" w-[430px]"/>
            </div>
          </div>
        </div>
    {% comment %} Digital Tranformation {% endcomment %}
        <div style="background-image: url('{% static "image/public/backgroundDigitalTransformationRed.svg" %}')" class="h-[283px] hidden md:block">
          <div class="container px-20 py-16">
            <img src="{% static "image/public/YourDigitalTransfoemationPartner.svg" %}" alt="" />
            <button onclick="window.location.href = '{% url "consultation" %}';"  class="ml-6 mt-6 px-7 py-5 border bg-[#d20008] text-xl text-white rounded-sm hover:bg-[#b3020f] font-medium transition duration-300">Book a chat</button>
          </div>
        </div>
        <div style="background-image: url('{% static "image/public/backgroundDigitalTransformationRedSmall.svg" %}')" class="h-[656px] bg-no-repeat bg-center bg-cover md:hidden">
          <div class="container px-10 py-16">
            <img src="{% static "image/public/YourDigitalTransfoemationPartnerSmall.svg" %}" width={312} alt="" />
            <button onclick="window.location.href = '{% url "consultation" %}';" class="ml-6 mt-6 px-7 py-3 md:py-5 border bg-[#d20008] text-xl text-white rounded-sm hover:bg-[#b3020f] font-medium transition duration-300">Book a chat</button>
          </div>
        </div>
    {% comment %} Footer {% endcomment %}
    <div class="bg-black  ">
      <div class="px-7 md:px-20 md:pt-12 md:pb-5 py-10">
        <div class="md:flex md:justify-between">
          <div class="border-b md:border-none py-4">
            <div class="flex justify-center md:justify-start">
              <img src="{% static "image/public/logo2.svg" %}" alt="logo" class="mb-5"/>
            </div>
            <p class="text-white text-center md:text-left md:w-[292px]">Komplek Green Ville, Jalan Ratu<br class="hidden md:block"/> Kemuning Blok BL No. 1,<br class="hidden md:block"/> RT08/RW14, DKI Jakarta <br class="hidden md:block"/>+(62-81) 398-716-212</p>
          </div>
          <div class="flex justify-around md:gap-20 pt-5">
            <div class="">
              <h1 class="text-white md:text-2xl font-bold mb-3">Quick Links</h1>
              <p class="text-white mb-3">Home</p>
              <p class="text-white mb-3">About</p>
              <p class="text-white mb-3">Services</p>
              <p class="text-white mb-3">Process</p>
              <p class="text-white mb-3">Projects</p>
            </div>
            <div class="">
              <h1 class="text-white md:text-2xl font-bold mb-3">Find Us On</h1>
              <p class="text-white mb-3">Facebook</p>
              <p class="text-white mb-3">Instagram</p>
              <p class="text-white mb-3">Facebook</p>
              <p class="text-white mb-3">Linkedin</p>
            </div>
          </div>
        </div>
          <p class="text-white mt-7 flex justify-center">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> KeDA Tech<span class="md:block hidden">. All Rights Reserved.</span></p>
      </div>
    </div>
    {% comment %} After Footer {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAfterFooterRed.svg" %}')" class="h-[720px] shadow-black hidden md:block">
          <div class="container px-64 pt-72">
            <h1 class="text-5xl font-bold mb-4">Tetap Terhubung Bersama Kami</h1>
            <p class="text-2xl pr-20 mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
            <div>
              <form action="" method="POST" id="subs">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="form">
                {{form}}
                <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md ml-3 font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
              </form> 

              {% if message == 'berhasil' %}
                <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
              {% elif message == 'error' %}
                <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
              {% endif %}
            </div>
          </div>
        </div>
    {% comment %} after footer mobile {% endcomment %}
    <div style="background-image: url('{% static "image/public/bgAfterFooterRedSmall.svg" %}')" class="h-[720px] bg-center bg-cover bg-no-repeat md:hidden">
      <div class="py-52 px-10">
        <h1 class="text-4xl font-bold mb-4 text">Tetap Terhubung Bersama Kami</h1>
        <p class="text-xl  mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
        <div>
          <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <div class="mt-5">
              <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
            </div>
          </form> 

          {% if message == 'berhasil' %}
            <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
          {% elif message == 'error' %}
            <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
          {% endif %}

        </div>
      </div>
    </div>
    </div>
{% endblock content %}