{% extends 'base.html' %} {% load static %} {% block content %}
<div>
   {% comment %} banner  {% endcomment %}
        <div style="background-image: url('{% static "image/public/BackgroundHomeDark.svg" %}')" class="h-[646px] hidden md:block">
          <div class="col-span-3 container md:px-20 px-10 pt-32">
            <div class="">
              <img src="{% static "image/public/logoHomePage.svg" %}" alt="logo" class="mb-6" width={448} height={254}/>
            </div>
              <p class="text-white md:text-3xl text-xl font-semibold md:mb-14 mb-5">Your Digital Transformation Partner</p>
              <button class="md:px-12 md:py-4 py-2 px-5 border text-2xl font-bold bg-[#d20008] border-[#d20008] text-white rounded  hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Book a chat</button>
            </div>
        </div>
        <div style="background-image: url('{% static "image/public/bgIndexSmall.svg" %}')" class="h-[646px] md:hidden bg-center bg-cover">
          <div class="col-span-3 container md:px-20 px-10 pt-32">
            <div class="pr-5">
              <img src="{% static "image/public/logoHomePage.svg" %}" alt="logo" class="mb-6" width={448} height={254}/>
            </div>
              <p class="text-white text-lg font-semibold mb-5">Your Digital Transformation Partner</p>
              <button class="md:px-12 md:py-4 py-2 px-5 border text-2xl font-bold bg-[#d20008] border-[#d20008] text-white rounded  hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Book a chat</button>
            </div>
        </div>
    {% comment %} quote {% endcomment %}
        <div style="" class="h-[763px] shadow-black test" id="Test">
          <div class="container md:px-28 md:pt-72 px-5 pt-24">
            <p class="md:text-4xl text-3xl font-bold leading-normal italic">"Diawali dengan perkumpulan programmer yang ahli dari Amerika, <span class="text-[#d20008]">KeDA Tech</span> berkomitmen untuk membantu revolusi bisnis Anda dan mempersiapkan teknologi yang pas untuk Anda menghadapi tantangan bisnis di era digital"</p>
          </div>
        </div>
    {% comment %} prosess  {% endcomment %}
        <div class="bg-[#fbfbfb]">
          <div class=" md:px-10 px-5 py-14">
            <div class="md:grid md:grid-cols-2 md:gap-14">
              <p class="md:text-3xl md:hidden text-xl font-semibold mb-7">Proses yang Kami Lakukan</p>
              <div class="md:col-span-1 hidden md:block">
                <img src="{% static "image/public/homeProcess1.svg" %}" alt="" className=" object-cover"/>
              </div>
              <div class="md:hidden">
                <img src="{% static "image/public/homeProcess.svg" %}" alt="" className=" object-cover"/>
              </div>
              <div class="md:mt-36 md:pl-5 col-span-1 mt-5 md-mt-0">
                <p class="md:text-3xl hidden md:block text-xl font-semibold mb-7">Proses yang Kami Lakukan</p>
                <p class="md:text-4xl text-2xl font-bold mb-5">Kami mandengar dan paham kebutuhan bisnis Anda</p>
                <button class="md:px-24 px-10 py-2 border text-lg font-bold bg-[#d20008] border-[#d20008] text-white rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Detail</button>
              </div>
            </div>
          </div>
        </div>
    {% comment %} solution  {% endcomment %}
        <div class="bg-white">
          <div class="bg-[#fbfbfb] shadow-md h-[1px]"></div>
          <div class="py-14 bg-white">
            <h1 class="text-center text-3xl md:text-6xl font-bold mb-14">Solusi yang Kami Berikan</h1>
            <div class="flex items-center md:px-28 px-16 py-8 hover:bg-[#f3f3f3] active:bg-[#d20008] transition duration-300 cursor-pointer">
              <img src="{% static "image/public/solusi.svg" %}" alt="" class="md:w-[173px] md:h-[173px] w-[80px] h-[80px]"/>
              <div class="ml-6">
                <h2 class="font-bold text-2xl mb-4">Pengembangan Website</h2>
                <p class="hidden md:block">User Interface yang baik dan tepat bisa meningkatkan conversion rates website sampai 200%. Jadi sudah seharusnya website bisnis Anda menjadi efektif dengan desain yang menarik, fitur yang lengkap dan mudah diatur.</p>
              </div>
            </div>
            <div class="flex items-center md:px-28 px-16 py-8 hover:bg-[#f3f3f3] active:bg-[#d20008] transition duration-300 cursor-pointer">
              <img src="{% static "image/public/mobileApps.svg" %}" alt="" class="md:w-[173px] md:h-[173px] w-[80px] h-[80px]"/>
              <div class="ml-6">
                <h2 class="font-bold text-2xl mb-4">Aplikasi Mobile</h2>
                <p class="hidden md:block">70% pelaku belanja online yang meninggalkan keranjangnya akibat pengalaman pengguna yang buruk dalam mengakses aplikasi. Jangan sampai hal ini terjadi pada bisnis digital Anda.</p>
              </div>
            </div>
            <div class="flex items-center md:px-28 px-16 py-8 hover:bg-[#f3f3f3] active:bg-[#d20008] transition duration-300 cursor-pointer">
              <img src="{% static "image/public/gameDeveloping.svg" %}" alt="" class="md:w-[173px] md:h-[173px] w-[80px] h-[80px]"/>
              <div class="ml-6">
                <h2 class="font-bold text-2xl mb-4">Pengembangan Game</h2>
                <p class="hidden md:block">Suatu game ternyata bisa menjadi media iklan yang menarik juga berbeda untuk bisnis Anda. Jangan khawatir tentang bagaimana kami akan membuatnya tampak menarik. Karena kami akan mendiskusikannya dahulu idenya dengan Anda.</p>
              </div>
            </div>
            <div class="flex items-center md:px-28 px-16 py-8 hover:bg-[#f3f3f3] active:bg-[#d20008] transition duration-300 cursor-pointer">
              <img src="{% static "image/public/enterpriseResourcePlanning.svg" %}" alt="" class="md:w-[173px] md:h-[173px] w-[80px] h-[80px] object-cover"/>
              <div class="ml-6">
                <h2 class="font-bold text-2xl mb-4">Sistem ERP</h2>
                <p class="hidden md:block">Data mengenai Enterprise Resource Planning atau ERP yang tepat bisa menghemat pengeluaran bisnis Anda sebesar 46% dan meningkatkan proses bisnis sampai 90%.</p>
              </div>
            </div>
          </div>
        </div>
    {% comment %} Our Project {% endcomment %}
        <div class="bg-white  ">
          <div class="container px-20 py-14">
            <h1 class="text-center text-3xl md:text-6xl font-bold mb-14">Proyek Kami</h1>
            <div class="md:grid md:grid-cols-3 hidden">
              <div class="block max-w-xs py-5 bg-white shadow-gray-500 shadow-md hover:shadow-2xl hover:shadow-black transition duration-300 cursor-pointer">
                <div>
                  <p class="px-6 text-xl font-semibold mb-5">Pengembangan Website</p>
                </div>
                <div class="mb-5">
                  <img src="{% static "image/public/proyek.svg" %}" alt="" />
                </div>
                <div class="px-7">
                  <h3 class="text-3xl font-bold mb-3">Container Loader</h3>
                  <p>Sebuah software simulasi yang mampu menghitung secara optimal tentang konfigurasi barang yang masuk dalam kargo atau kontainer.</p>
                </div>
              </div>
              <div class="block max-w-xs py-5 bg-white shadow-gray-500 shadow-md hover:shadow-2xl hover:shadow-black transition duration-300 cursor-pointer">
                <div>
                  <p class="px-6 text-xl font-semibold mb-5">Pengembangan Website</p>
                </div>
                <div class="mb-5">
                  <img src="{% static "image/public/proyek.svg" %}" alt="" />
                </div>
                <div class="px-7">
                  <h3 class="text-3xl font-bold mb-3">Container Loader</h3>
                  <p>Sebuah software simulasi yang mampu menghitung secara optimal tentang konfigurasi barang yang masuk dalam kargo atau kontainer.</p>
                </div>
              </div>
              <div class="block max-w-xs py-5 bg-white shadow-gray-500 shadow-md hover:shadow-2xl hover:shadow-black transition duration-300 cursor-pointer">
                <div>
                  <p class="px-6 text-xl font-semibold mb-5">Pengembangan Website</p>
                </div>
                <div class="mb-5">
                  <img src="{% static "image/public/proyek.svg" %}" alt="" />
                </div>
                <div class="px-7">
                  <h3 class="text-3xl font-bold mb-3">Container Loader</h3>
                  <p>Sebuah software simulasi yang mampu menghitung secara optimal tentang konfigurasi barang yang masuk dalam kargo atau kontainer.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% comment %} Digital Transformaton  {% endcomment %}
        <div style="" class="md:h-[283px] h-[656px] test2">
          <div class=" md:px-20 px-10 py-16">
            <img src="{% static "image/public/YourDigitalTransfoemationPartner.svg" %}" alt="" class="hidden md:block"/>
            <img src="{% static "image/public/YourDigitalTransfoemationPartnerSmall.svg" %}" width={312} alt="" class="md:hidden"/>
            <button onclick="window.location.href = '{% url "consultation" %}';" class="ml-6 mt-6 px-7 py-3 md:py-5 border bg-[#d20008] text-xl text-white rounded-sm hover:bg-[#b3020f] font-medium transition duration-300">Book a chat</button>
          </div>
        </div>
    {% comment %} Footer {% endcomment %}
        <div class="bg-black  ">
          <div class="px-7 md:px-20 md:pt-12 md:pb-5 py-10">
            <div class="md:flex md:justify-between">
              <div class="border-b md:border-none py-4">
                <div class="flex justify-center md:justify-start">
                  <img src="{% static "image/public/logo2.svg" %}" alt="logo" class="mb-5"/>
                </div>
                <p class="text-white text-center md:text-left md:w-[292px]">Komplek Green Ville, Jalan Ratu<br class="hidden md:block"/> Kemuning Blok BL No. 1,<br class="hidden md:block"/> RT08/RW14, DKI Jakarta <br class="hidden md:block"/>+(62-81) 398-716-212</p>
              </div>
              <div class="flex justify-around md:gap-20 pt-5">
                <div class="">
                  <h1 class="text-white md:text-2xl font-bold mb-3">Quick Links</h1>
                  <p class="text-white mb-3">Home</p>
                  <p class="text-white mb-3">About</p>
                  <p class="text-white mb-3">Services</p>
                  <p class="text-white mb-3">Process</p>
                  <p class="text-white mb-3">Projects</p>
                </div>
                <div class="">
                  <h1 class="text-white md:text-2xl font-bold mb-3">Find Us On</h1>
                  <p class="text-white mb-3">Facebook</p>
                  <p class="text-white mb-3">Instagram</p>
                  <p class="text-white mb-3">Facebook</p>
                  <p class="text-white mb-3">Linkedin</p>
                </div>
              </div>
            </div>
              <p class="text-white mt-7 flex justify-center">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> KeDA Tech<span class="md:block hidden">. All Rights Reserved.</span></p>
          </div>
        </div>
   {% comment %} after footer {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAfterFooterGreen.svg" %}')" class="h-[720px] shadow-black hidden md:block">
          <div class="container px-64 pt-72">
            <h1 class="text-5xl font-bold mb-4">Tetap Terhubung Bersama Kami</h1>
            <p class="text-2xl pr-20 mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
            <div>
              <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md ml-3 font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
              </form> 

              {% if message == 'berhasil' %}
                <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
              {% elif message == 'error' %}
                <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
              {% endif %}

            </div>
          </div>
        </div>
    {% comment %} after footer mobile {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAfterFooterGreenSmall.svg" %}')" class="h-[720px] bg-center bg-cover bg-no-repeat md:hidden">
          <div class="py-52 px-10">
            <h1 class="text-4xl font-bold mb-4 text">Tetap Terhubung Bersama Kami</h1>
            <p class="text-xl  mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
            <div>
              <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <div class="mt-5">
                  <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
                </div>
              </form> 

              {% if message == 'berhasil' %}
                <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
              {% elif message == 'error' %}
                <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
              {% endif %}

            </div>
          </div>
        </div>
</div>
{% endblock content %}
