{% extends 'base.html' %} {% load static %} {% block content %}
    <div>
      {% comment %} Banner Working Style {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgProcessOverview.svg" %}')" class="h-[202px] flex items-center justify-center px-8">
            <img src="{% static "image/public/KeDAsWorkingStyle.svg" %}" alt="" />
        </div>
      {% comment %} Main Content {% endcomment %}
        <div class="bg-white py-16 md:px-14 px-5">
            <div class="md:grid md:grid-cols-3">      
                <div class="col-span-1 hidden md:block">
                    <div class="mb-7 border-l-2 border-[#333333] pl-4">
                        <a href="/processOverview">
                        <h1 style="color: rgb(51 51 51);" class="text-3xl font-bold text-[#333333] cursor-pointer">Overview</h1>
                        </a>
                        <div class="border-t-4 w-[59px] rounded-full border-[#333333] mb-3"></div>
                        <div class="pl-5">
                            <p>Teams (Lorem ipsum)</p>
                            <p>Activity kit (Lorem ipsum)</p>
                        </div>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processBrief">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Brief</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4"> 
                        <a href="/processScope">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Scope</h1>
                        <a/>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processEstimation">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Estimation</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processDevelopment">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Development</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processSupport">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Support</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processNextSteps">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Next Steps</h1>
                        </a>
                    </div>
                    <div class="pl-4">
                        <button onclick="window.location.href = '{% url "consultation" %}';" class="px-4 py-2 border border-[#333333] text-[#333333] rounded hover:bg-[#333333] hover:border-white hover:text-white text-sm font-medium transition duration-300">Book a chat</button>
                    </div>
                </div>
                <div class="col-span-2">
                    <h1 class="text-4xl font-bold mb-5 text-[#333333]">Overview</h1>
                    <img src="{% static "image/public/vidProcessOverview.svg" %}" alt="" class="mb-5"/>
                    <p>Dalam dunia industri, kita pasti menemukan tantangan. Untuk itu, kami hadir dan siap membantu Anda mengembangkan bisnis atau industri yang Anda jalankan. 
                    <br /><br />
                    Dalam setiap proses pengerjaannya, KeDA Tech akan membantu Anda menganalisa setiap masalah dalam bisnis Anda, kemudian memberikan solusi berupa teknologi yang tepat.
                    </p>
                    <div class="pt-20">
                        <div class="flex justify-center items-center">
                            <img src="{% static "image/public/Brief1.svg" %}" alt="" />
                        </div>
                        <div class="flex justify-end pt-9 cursor-pointer">
                            <a href="/processBrief">
                            <img src="{% static "image/public/nextBrief.svg" %}" alt="" class="w-[120px]" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}