{% extends 'base.html' %} {% load static %} {% block content %}
    <div>
    {% comment %} Banner Working Style {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgProcessSupport.svg" %}')" class="h-[202px] flex items-center justify-center">
            <img src="{% static "image/public/support.svg" %}" alt="" />
        </div>
    {% comment %} Main Content {% endcomment %}
        <div class="bg-white py-16 md:px-14 px-5">
            <div class="md:grid md:grid-cols-3">
                <div class="hidden md:block col-span-1">
                    <div class="mb-7 pl-4">
                        <a href="/processOverview">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Overview</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4"> 
                        <a href="/processBrief">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Brief</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processScope">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer" >Scope</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processEstimation">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Estimation</h1>
                        </a>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processDevelopment">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Development</h1>
                        </a>
                    </div>
                    <div class="mb-7 border-l-2 border-[#333333] pl-4">
                        <a href="/processSupport">
                        <h1 class="text-3xl font-bold text-[#333333] cursor-pointer">Support</h1>
                        </a>
                        <div class="border-t-4 w-[59px] rounded-full border-[#333333] mb-3 mt-2"></div>
                        <div class="pl-5">
                            <p>Teams (Lorem ipsum)</p>
                            <p>Activity kit (Lorem ipsum)</p>
                        </div>
                    </div>
                    <div class="mb-7 pl-4">
                        <a href="/processNextSteps">
                        <h1 class="text-2xl font-bold text-[#333333] cursor-pointer">Next Steps</h1>
                        </a>
                    </div>
                    <div class="pl-4">
                        <Button onclick="window.location.href = '{% url "consultation" %}';" class="px-4 py-2 border border-[#333333] text-[#333333] rounded hover:bg-[#333333] hover:border-white hover:text-white text-sm font-medium transition duration-300">Book a chat</Button>
                    </div>
                </div>
                <div class="col-span-2">
                    <h1 class="text-4xl font-bold mb-5 text-[#333333]">Support</h1>
                    <img src="{% static "image/public/vidProcessSupport.svg" %}" alt="" class="mb-5"/>
                    <p>
                    Kami tahu bahwa menerapkan suatu teknologi yang baru pada bisnis tentunya menjadi tantangan tersendiri. Khususnya untuk Anda dan semua yang menggunakannya. Karena itu, KeDA Tech akan tetap menemani Anda selama prosesnya. 
                    <br /><br />
                    Kami mendedikasikan setiap waktu yang terbaik untuk mendukung penerapan teknologi dalam bisnis digital Anda. Tidak hanya itu, kami juga menyediakan monitoring produk seperti biasa, memberikan masukan, maintaining back-up dan menyajikan nomor untuk on-call support.  
                    </p>
                    <div class="pt-16">
                        <div class="flex justify-center items-center">
                            <img src="{% static "image/public/Brief5.svg" %}" alt="" />
                        </div>
                        <div class="flex justify-end pt-9 cursor-pointer">
                            <a href="/processNextSteps">
                            <img src="{% static "image/public/nextSteps.svg" %}" alt="" class="w-[156px]"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}