{% extends 'base.html' %} {% load static %} {% block content %}
    <div>
    {% comment %} banner  {% endcomment %}
        <div style="background-image: url('{% static "image/public/bannerSolution.svg" %}')" class="h-[329px] hidden md:block">
        </div>
        <div style="background-image: url('{% static "image/public/bannerSolutionSmall.png" %}')" class="h-[332px] md:hidden bg-no-repeat bg-center">
        </div>
    {% comment %} solution {% endcomment %}
        <div class="bg-white md:h-[312px] ">
            <div class="md:px-20 px-6 md:py-16 py-10">
                <h1 class="md:text-8xl text-4xl font-bold mb-4 md:mb-7">Solutions</h1>
                <p class="md:text-2xl md:pl-12 ">Beberapa solusi yang kami sediakan spesial untuk kemajuan bisnis Anda.</p>
            </div>
        </div>
      {% comment %} web developing {% endcomment %}
        <div class="md:bg-[#fbfbfb] bg-white h-[720px] md:flex md:justify-around items-center md:px-16 px-6 gap-24 py-5">
            <img src="{% static "image/public/webDeveloping.svg" %}" alt="" class="w-[492px] rounded-md"/>
            <div class="py-5">
                <h1 class="md:text-5xl text-3xl font-bold mb-5">Web Developing</h1>
                <p class="leading-loose">User Interface yang baik dan tepat bisa meningkatkan conversion rates website sampai 200%. Jadi sudah seharusnya website bisnis Anda menjadi efektif dengan desain yang menarik, fitur yang lengkap dan mudah diatur. Kami bisa kerjakan semuanya sesuai kebutuhan dan keinginan Anda. 
                <br/><br/>
                Mulai dari pembuatan website corporate, e-commerce, microsite, landing page sampai custom dengan design profesional dan kaya fitur.</p>
            </div>
        </div>
      {% comment %} mobile apps {% endcomment %}
        <div class="md:bg-[#fbfbfb] bg-white h-[720px] md:flex md:justify-around items-center md:px-16 px-6 py-5 gap-24">
          <img src="{% static "image/public/mobileApps.svg" %}" alt="" class="w-[492px] md:hidden rounded-md"/>
            <div class="py-5">
                <h1 class="md:text-5xl text-3xl font-bold mb-5">Mobile apps</h1>
                <p class="leading-loose">70% pelaku belanja online yang meninggalkan keranjangnya akibat pengalaman pengguna yang buruk dalam mengakses aplikasi. Jangan sampai hal ini terjadi pada bisnis digital Anda. Mulai lah bersama kami, 
                <br/><br/>
                karena selain menekankan pada kemudahan pengguna dalam mengakses aplikasi bisnis Anda, kami juga akan memberikan perhatian lebih pada bagian desain yang menarik dan menyenangkan untuk pengguna.</p>
            </div>
            <img src="{% static "image/public/mobileApps.svg" %}" alt="" class="w-[492px] hidden md:block rounded-md"/>
        </div>
       {% comment %} game developing {% endcomment %}
        <div class="md:bg-[#fbfbfb] bg-white h-[720px] md:flex md:justify-around items-center md:px-16 px-6 py-4 gap-24">
            <img src="{% static "image/public/gameDeveloping.svg" %}" alt="" class="w-[492px] rounded-md"/>
            <div class="py-5">
                <h1 class="md:text-5xl text-3xl font-bold mb-5">game developing</h1>
                <p class="leading-loose">Suatu game ternyata bisa menjadi media iklan yang menarik juga berbeda untuk bisnis Anda. Jangan khawatir tentang bagaimana kami akan membuatnya tampak menarik. Karena kami akan mendiskusikannya dahulu idenya dengan Anda. 
                <br/><br/>
                Dimulai dari perencanaan game apa yang sesuai dengan bisnis Anda, desain, sampai produksinya yang akan dilakukan untuk  video game komputer, game konsol, atau juga mobile devices.</p>
            </div>
        </div>
      {% comment %} enterprise Resource Planning {% endcomment %}
        <div class="md:bg-[#fbfbfb] bg-white md:h-[720px] h-[880px] md:flex md:justify-around items-center md:px-16 px-6 gap-24 py-4">
          <img src="{% static "image/public/enterpriseResourcePlanning.svg" %}" alt="" class="w-[492px] rounded-md md:hidden"/>
            <div class="py-5">
                <h1 class="md:text-5xl text-3xl font-bold mb-5">Enterprise Resource Planning</h1>
                <p class="leading-loose">Data mengenai Enterprise Resource Planning atau ERP yang tepat bisa menghemat pengeluaran bisnis Anda sebesar 46% dan meningkatkan proses bisnis sampai 90%. Tentunya hal ini bisa dicapai saat menerapkan fitur apa yang tepat untuk bisnis Anda. 
                <br/><br/>
                Kami bekerja sama dengan Odoo ERP, menyiapkan banyak fitur untuk implementasi ERP Anda. Anda bisa mengonsultasikannya dahulu dengan tim kami untuk mendapatkan fitur yang terbaik. </p>
                <Button class="mt-6 px-7 md:py-5 py-3 border bg-[#d20008] text-xl text-white rounded-sm hover:bg-[#b3020f] font-medium transition duration-300">Book ERP</Button>
            </div>
            <img src="{% static "image/public/enterpriseResourcePlanning.svg" %}" alt="" class="w-[492px] hidden md:block"/>
        </div>
       {% comment %} digital transformation  {% endcomment %}
        <div style="background-image: url('{% static "image/public/backgroundDigitalTransformationPurples.svg" %}')" class="h-[283px] hidden md:block">
          <div class=" px-20 py-16">
            <img src="{% static "image/public/YourDigitalTransfoemationPartner.svg" %}" alt="" />
            <Button onclick="window.location.href = '{% url "consultation" %}';"  class="ml-6 mt-6 px-7 py-5 border bg-[#d20008] text-xl text-white rounded-sm hover:bg-[#b3020f] font-medium transition duration-300">Book a chat</Button>
          </div>
        </div>
        <div style="background-image: url('{% static "image/public/backgroundDigitalTransformationPurplesSmall.svg" %}')" class="h-[656px] bg-no-repeat bg-center bg-cover md:hidden">
          <div class="container px-10 py-16">
            <img src="{% static "image/public/YourDigitalTransfoemationPartnerSmall.svg" %}" width={312} alt="" />
            <button onclick="window.location.href = '{% url "consultation" %}';" class="ml-6 mt-6 px-7 py-3 md:py-5 border bg-[#d20008] text-xl text-white rounded-sm hover:bg-[#b3020f] font-medium transition duration-300">Book a chat</button>
          </div>
        </div>
       {% comment %} footer {% endcomment %}
       <div class="bg-black  ">
        <div class="px-7 md:px-20 md:pt-12 md:pb-5 py-10">
          <div class="md:flex md:justify-between">
            <div class="border-b md:border-none py-4">
              <div class="flex justify-center md:justify-start">
                <img src="{% static "image/public/logo2.svg" %}" alt="logo" class="mb-5"/>
              </div>
              <p class="text-white text-center md:text-left md:w-[292px]">Komplek Green Ville, Jalan Ratu<br class="hidden md:block"/> Kemuning Blok BL No. 1,<br class="hidden md:block"/> RT08/RW14, DKI Jakarta <br class="hidden md:block"/>+(62-81) 398-716-212</p>
            </div>
            <div class="flex justify-around md:gap-20 pt-5">
              <div class="">
                <h1 class="text-white md:text-2xl font-bold mb-3">Quick Links</h1>
                <p class="text-white mb-3">Home</p>
                <p class="text-white mb-3">About</p>
                <p class="text-white mb-3">Services</p>
                <p class="text-white mb-3">Process</p>
                <p class="text-white mb-3">Projects</p>
              </div>
              <div class="">
                <h1 class="text-white md:text-2xl font-bold mb-3">Find Us On</h1>
                <p class="text-white mb-3">Facebook</p>
                <p class="text-white mb-3">Instagram</p>
                <p class="text-white mb-3">Facebook</p>
                <p class="text-white mb-3">Linkedin</p>
              </div>
            </div>
          </div>
            <p class="text-white mt-7 flex justify-center">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> KeDA Tech<span class="md:block hidden">. All Rights Reserved.</span></p>
        </div>
      </div>
       {% comment %} after footer {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAfterFooterPurples.svg" %}')" class="h-[720px] shadow-black hidden md:block">
          <div class=" px-64 pt-72">
            <h1 class="text-5xl font-bold mb-4">Tetap Terhubung Bersama Kami</h1>
            <p class="text-2xl pr-20 mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
            <div>
              <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md ml-3 font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
              </form> 

              {% if message == 'berhasil' %}
                <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
              {% elif message == 'error' %}
                <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
              {% endif %} </div></div>
          </div>
        </div>
        {% comment %} after footer mobile {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAfterFooterPurplesSmall.svg" %}')" class="h-[720px] bg-center bg-cover bg-no-repeat md:hidden">
          <div class="py-52 px-10">
            <h1 class="text-4xl font-bold mb-4 text">Tetap Terhubung Bersama Kami</h1>
            <p class="text-xl  mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
            <div>
              <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <div class="mt-5">
                  <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
                </div>
              </form> 

              {% if message == 'berhasil' %}
                <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
              {% elif message == 'error' %}
                <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
{% endblock content %}